<div id="sidebar" class="align-top bg-dark col-1 h-100 d-inline-block text-center">
    <ul class="nav nav-pills">
      <li class="nav-item mx-auto">
        <a id="index" href="/" class="nav-link" data-toggle="tooltip" data-placement="right" title="Home"><i class='fas fa-home text-light d-block mb-5'></i></a> 
      </li>
      <li class="nav-item mx-auto">
        <a id="tech" href="/tech" class="nav-link" data-toggle="tooltip" data-placement="right" title="Languages"><i class="fab fa-python text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/projects" class="nav-link" data-toggle="tooltip" data-placement="right" title="Projects"><i class="fas fa-project-diagram text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/resume" class="nav-link" data-toggle="tooltip" data-placement="right" title="Resume"><i class="fas fa-file-alt text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/contact" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Contact"><i class="fas fa-at text-light d-block my-5"></i></a>
      </li>
    </ul>
</div>
<div class="col-10 d-inline-block mx-auto">    
    <div class="col-10 mx-auto text-center">
        <h1 class="text-light">Email:</h1>
        <a href="mailto:solon.burleson@gmail.com"><h3 class="my-5">solon.burleson@gmail.com</h3></a>
        <h1 class="text-light">Socials:</h1>
        <a href="https://github.com/solonburleson"><img class="col-lg-3 col-md-4 col-5 img-fluid" src="/images/github.png"></a>
        <a href="https://www.linkedin.com/in/solon-burleson/"><img class="col-lg-3 col-md-4 col-5 img-fluid" src="/images/linkedin.png"></a>
    </div>
</div>