<div class="col-10 mx-auto text-center">
    <h1 class="text-light">Email:</h1>
    <a href="mailto:solon.burleson@gmail.com"><h3 class="my-5">solon.burleson@gmail.com</h3></a>
    <h1 class="text-light">Socials:</h1>
    <a href="https://github.com/solonburleson"><img class="col-lg-3 col-md-4 col-5 img-fluid" src="/images/github.png"></a>
    <a href="https://www.linkedin.com/in/solon-burleson/"><img class="col-lg-3 col-md-4 col-5 img-fluid" src="/images/linkedin.png"></a>
</div>