<div id="home">
    <div class="mx-auto col-10">
        <img class="col-3 rounded-circle img-fluid mx-auto d-block" src="/images/solon.png">
        <div class="align-top mt-3 p-3 bg-dark text-white rounded">
            <h1 class="py-5">About me</h1>
            <p>I am a software developer with a background in Geology. I graduated from Coding Dojo with a black belt (highest possible assessment) in Python, Ruby and MEAN stack. I am actively seeking a role within a collaborative and goal-oriented company. Team player with the capability of gaining new skills without difficulty. Due to my work and educational background in the field of Geology, I have developed strong research and analytical skills.</p>
        </div>
    </div>
</div>