<div id="sidebar" class="align-top bg-dark col-1 h-100 d-inline-block text-center">
    <ul class="nav nav-pills">
      <li class="nav-item mx-auto">
        <a id="index" href="/" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Home"><i class='fas fa-home text-light d-block mb-5'></i></a> 
      </li>
      <li class="nav-item mx-auto">
        <a id="tech" href="/tech" class="nav-link" data-toggle="tooltip" data-placement="right" title="Languages"><i class="fab fa-python text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/projects" class="nav-link" data-toggle="tooltip" data-placement="right" title="Projects"><i class="fas fa-project-diagram text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/resume" class="nav-link" data-toggle="tooltip" data-placement="right" title="Resume"><i class="fas fa-file-alt text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/contact" class="nav-link" data-toggle="tooltip" data-placement="right" title="Contact"><i class="fas fa-at text-light d-block my-5"></i></a>
      </li>
    </ul>
</div>
<div class="col-10 d-inline-block mx-auto">
    <div id="home">
        <div class="mx-auto col-10">
            <img class="col-lg-3 col-6 rounded-circle img-fluid mx-auto d-block" src="/images/solon.png">
            <div class="align-top mt-3 p-3 bg-dark text-white rounded">
                <h1 class="py-5">About me</h1>
                <p>I am a software developer with a background in Geology. I graduated from Coding Dojo with a black belt (highest possible assessment) in Python, Ruby and MEAN stack. I am actively seeking a role within a collaborative and goal-oriented company. Team player with the capability of gaining new skills without difficulty. Due to my work and educational background in the field of Geology, I have developed strong research and analytical skills.</p>
            </div>
        </div>
    </div>
</div>