<div id="sidebar" class="align-top bg-dark col-1 h-100 d-inline-block text-center">
    <ul class="nav nav-pills">
      <li class="nav-item mx-auto">
        <a id="index" href="/" class="nav-link" data-toggle="tooltip" data-placement="right" title="Home"><i class='fas fa-home text-light d-block mb-5'></i></a> 
      </li>
      <li class="nav-item mx-auto">
        <a id="tech" href="/tech" class="nav-link" data-toggle="tooltip" data-placement="right" title="Languages"><i class="fab fa-python text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/projects" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Projects"><i class="fas fa-project-diagram text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/resume" class="nav-link" data-toggle="tooltip" data-placement="right" title="Resume"><i class="fas fa-file-alt text-light d-block my-5"></i></a>
      </li>
      <li class="nav-item mx-auto">
        <a href="/contact" class="nav-link" data-toggle="tooltip" data-placement="right" title="Contact"><i class="fas fa-at text-light d-block my-5"></i></a>
      </li>
    </ul>
</div>
<div class="col-10 d-inline-block mx-auto">
    <div class="col-10 mx-auto">
        <div id="carouselExampleControls" class="carousel slide bg-dark col-lg-6 mx-lg-auto" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/socketman1.PNG" alt="Socket-Man">
                    <div class="my-3 text-center">
                        <a href="http://www.socket-man.com"><h5 class="text-light">Socket-Man</h5></a>
                        <p class="text-light">Pac-Man game that tracks other users playing. Developed using Express.js, Node.js, Socket.io. Collaborated with a group to manage a Github repository and minimize merge conflicts.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="my-5 py-5">
                        <img class="d-block w-100 my-5" src="/images/wowwtf.PNG" alt="WoWWTF">
                    </div>
                    <div class="my-3 text-center">
                        <h5 class="text-light">WoWWTF</h5>
                        <p class="text-light">Time management application for players with limited time to play. Worked with Blizzard’s API to fetch and display data about different item’s information to display on a single page application. Developed using Python,Django, JavaScript, AJAX, and APIs</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>