<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tech">Technologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-10 mx-auto text-center">
    <a href="/images/Solon_Burleson_Resume_MAR19.pdf" download><img src="/images/resume1.png"></a>
</div>